<div id="route-modal" class="fixed inset-0 bg-black/60 hidden justify-center items-center z-50">
    <div class="bg-white p-8 rounded-lg w-full max-w-md shadow-xl relative">
      
      <button onclick="closeRouteModal()" class="absolute top-3 right-3 text-gray-600 hover:text-black">
        ✕
      </button>
  
      <div id="route-modal-content">
      </div>
  
    </div>
  </div>
  
  <script>
    function openRouteModal() {
      document.getElementById("route-modal").classList.remove("hidden");
    }
  
    function closeRouteModal() {
      document.getElementById("route-modal").classList.add("hidden");
    }
  </script>
  